.seat {
	width: 25px;
	height: 20px;
	background-color: #e9e7e7;
	border-top-right-radius: 40%;
	border-top-left-radius: 40%;
	margin: 0.2rem 0.8rem;
	cursor: pointer;
}

.selected {
	background-color: #f84464;
}
.occupied {
	background-color: rgb(88, 87, 87);
}
